*{
    margin: 0;padding: 0;
    box-sizing :border-box;
}
.main-container{
    background-color: rgb(255, 255, 255);
  width: 98%;
  margin-left: 10px;
}
body{

    background-color: black;
  }


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.navbar{
    background:black;
    display: flex;
    align-items: center;justify-content: center;
    width:100%;
    padding:1rem;

}

.nav-center{
    width:100%;
    color:white;
    display: flex;
    align-items: center;
}
.header{
    padding: 14px;

  }
  

.search-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:2rem 1rem;
    gap:1rem;

}
.input{
    width:100%;
    padding:15px;
    outline: none;
}
.search-btn{
    padding:0.5rem;
    background:black;
    color:white;
}

.btn-container{
    width:100%;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:.8rem;
}

.btn,.search-btn{
    padding:15px;
    background:black;
    color:white;  
    width: 200px;
}
.btn:hover,
.search-btn:hover{
    background:rgb(72, 183, 187);
    border: 1px solid rgb(14, 140, 224);
}
table,th,td{
        border-collapse:collapse;
        padding:1rem;
    }
    .copyright{
        font-size: 15px;
        margin-left: 45%;
        color: #ffffff;
    }
    .copyright:hover{
        color: blue;
    }
    .image{
        width: 25px;
        height: 25px;
        border-radius: 15px;
        border: 1px blue solid;
        position: relative;
    }
   table{
        margin-left: 15px;
      }
    tbody{
        height: 800px;
    }
    .student:hover{
        color: aquamarine;
        border: 1px rgb(0, 153, 255) solid;
      }
      .input:hover,
      .search1:hover,
      .table:hover,
      tr:hover,
      td:hover,
      th:hover
      {
        border: 2px rgb(0, 132, 255) solid;
      }
      @media screen and (max-width:375px) {
    
        .search-btn,
        .btn{
          border: none;
          background-color:black;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
      
        }
      .search-btn{
          width: 40%;
          margin-left: 80px;
          border-radius: 12px;
        }
        .search-container
        {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        .tn-container{
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: center;
          align-items: center;
        }
        .student{
          width: 100%;
          padding: 5px;
          outline: none;
          font-size: 10px;
          color: rgb(238, 232, 232);
      background-color: black;
        }
        .input{
          width: 90%;
      
        }
        .search-btn:hover{
          border: 2px rgb(0, 132, 255) solid;
          width: 40%;
          padding: 12px;
        }
        .student{
          width: 85%;
          padding: 20px;
          outline: none;
          font-size: 25px;
          color: rgb(238, 232, 232);
      background-color: black;
        }
      }